.inner-1_1f7b {
  #user-profile-modal {
    .header {
      .header-info {
        .header-info-inner {
          .discord-tag {
            .username, .discriminator {
              font-size: 32px !important;
              font-weight: bold !important;
              text-shadow: 0 0 2px black;
              height: 55px;
              display: inline-block;
            }
            .username {color:@main-color !important;}
            .discriminator {color: lighten(@main-color, 40%) !important;}
          }
          .activity {
            font-size: 19px !important;
            strong {
              font-weight: bolder;
            }
          }
        }
      }
    }
    .tab-bar-container {
      .tab-bar.TOP {
        .tab-bar-item:not(.selected), .tab-bar-item.selected {
          color:white !important;
          padding-top: 5px !important;
          padding-left: 10px !important;
          padding-right: 10px !important;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          text-shadow: 0 5px 10px currentColor;
        }
        .tab-bar-item:not(.selected) {
          background-color:@main-color !important;
        }
        .tab-bar-item.selected {
          background-color:@main-color !important;
        }
      }
    }
    .avatar-wrapper {
      background: none !important;
      .status {}
    }
    .scroller-wrap.fade {
      .guilds.scroller {
        .section {
          .section-header {

          }
          .note {

          }
          .connected-accounts {
            .connected-account, .connected-account-icon, .connected-account-name-inner, a {
              color:white !important;
              * {color:white !important;}
            }
            .connected-account {
              background: @main-color;
              .connected-account-icon {
              }
              .connected-account-name-inner {
              }
              a {
              }
            }
          }
        }
      }
    }
  }
}
