@import sass/main-colors
@import sass/scrollbar
@import sass/user-profile-madal
@import sass/channels
@import sass/friends
@import sass/messages
@import sass/themes-and-packages
@import sass/text-bar

*
  border: none
  outline: none
  padding: 0
  -webkit-appearance: none !important
  margin: 0
