* {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
div.inner-1_1f7b,
div#user-profile-modal,
header.header {
  background: #6464dc !important;
}
.connected-account {
  background: #6464dc;
}
.connected-account * {
  color: white !important;
}
.tab-bar.TOP .tab-bar-item {
  background-color: #6464dc !important;
  color: white !important;
  padding-top: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-shadow: 0 5px 10px currentColor;
}
#user-profile-modal > header > div.header-info > div > div > span {
  color: #6464dc !important;
  font-size: 38px !important;
  font-weight: bold;
}
#user-profile-modal > header > div.header-info > div > div > span.discriminator {
  color: #ffffff !important;
}
.avatar-wrapper,
avatar-profile {
  background: none !important;
}
html,
body {
  background: transparent !important;
}
div.containerDefault-7RImuF {
  margin-top: 10px;
  background: #6464dc;
  cursor: pointer;
}
div.containerDefault-7RImuF * {
  background: none;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
/*#bd-settingspane-container div div div.content-column.default ul li {
  display: block !important;
  margin-top: 15px !important;
  padding: 20px;
  height: 255px !important;
  max-height: 355px;
  overflow: hidden;
}

div[data-reactid|=".g.$scroller.$pcolumn"] {
  color:white !important;
}

input.ui-switch-checkbox[type=checkbox], input.ui-switch-checkbox[type=checkbox]:not([checked]) {
  -webkit-appearance:none !important;
  padding: 6px;
}

input.ui-switch-checkbox[type=checkbox] {
  @bch: solid 2px;
  border: @bch green !important;
  background: lightgreen !important;
  &:not([checked]) {
    border: @bch grey !important;
    background: none !important;
  }
}*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border: none !important;
  border-radius: 5px !important;
  background: #6464dc !important;
}
::-webkit-scrollbar-track {
  border: none !important;
  border-radius: none !important;
  background: #11114a !important;
}
::-webkit-scrollbar-track-piece {
  border: none !important;
  border-radius: none !important;
  background: #11114a !important;
}
.header-1tSljs,
.search-bar {
  background-color: #6464dc !important;
}
.scrollerWrap-2uBjct,
.guilds.scroller,
.container-iksrDt,
.flex-spacer,
.messages-wrapper,
.scroller-fzNley,
#friends,
.friends-table,
#friends > .friends-table > .scroller-wrap > .friends-table-body.scroller {
  background-color: #11114a !important;
}
.title-wrap,
#friends > div.friends-header {
  background: #6464dc !important;
}
.title-wrap .tab-bar-item.tab-bar-item-primary,
#friends > div.friends-header .tab-bar-item.tab-bar-item-primary {
  background: #11114a !important;
}
.markup a {
  color: white !important;
  text-decoration: none;
  display: block;
  padding: 10px 5px;
  background-color: #6464dc;
  transition: all 0.4s ease;
  border-radius: 10px;
  width: 50% !important;
  margin: auto !important;
}
.markup a:hover {
  color: white !important;
  text-decoration: none;
  background-color: #c4c4fb;
}
div.channel.private {
  background-color: #23239d;
  width: 75%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 10px 19px;
  text-align: center;
  transition: all 0.4s ease;
}
div.channel.private a {
  background-color: #6464dc;
  transition: all 0.4s ease;
}
div.channel.private a span {
  font-size: 18px !important;
}
div.channel.private a:hover {
  background-color: #1a1a73;
}
button.win-close:hover {
  background-color: red !important;
}
button[class|=win]:hover {
  border-radius: 10px;
}
#charcounter {
  padding-top: 5px;
  font-size: 11px !important;
}
div.btn-close {
  border: solid 3px white !important;
  color: white !important;
  transition: all 0.5s ease;
  font-weight: bolder !important;
}
div.btn-close:hover {
  background: rgba(255, 100, 100, 0.9) !important;
}
.app.flex-vertical {
  background: #191919 !important;
}
div.friends-row {
  display: inline-block !important;
  border: none !important;
  transition: all 0.2s ease;
  margin-top: 15px;
  height: 140px !important;
  width: 185px;
  max-height: 290px;
  max-width: 290px;
}
div.friends-row .friends-column-actions {
  padding-top: 15px;
}
div.friends-row .friends-column-actions .friends-action-voice-call:hover {
  background-color: #649b64 !important;
}
/* Messages */
.typing {
  display: box !important;
  text-align: center !important;
  width: 20% !important;
  margin: auto !important;
}
.new-messages-bar {
  background: #6464dc !important;
  margin-top: 10px;
}
.new-messages-bar > button:nth-child(2) {
  color: white !important;
}
div.avatar-small {
  display: none !important;
}
.embed.embed-link {
  border-right: solid 5px currentColor;
  border-left: solid 5px currentColor;
  background: rgba(100, 100, 220, 0.15) !important;
}
.embed.embed-link > a > img,
.embed.embed-link > a {
  display: block !important;
}
.message-group.hide-overflow {
  border: none !important;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.message-group.hide-overflow .timestamp {
  display: none;
}
.message-group.hide-overflow .user-name {
  font-size: 25px !important;
  margin-top: 15px !important;
  margin-bottom: 10px;
  display: box !important;
}
.message-group.hide-overflow div.avatar-large {
  display: none !important;
}
